@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@theme {
  --font-mono: "JetBrains Mono", monospace;
}

body {
  @apply bg-ctp-base text-ctp-text font-mono;
}
